<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body ng-app="myApp">
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h3>Main Page</h3>
            </div>
        </div>
        <div class="col-md-12" ng-controller="myController">
            <div class="row">
                <div class="col-md-11">
                    <div>{{myText}}</div>
                    <input type="text" ng-model="myText"/>
                </div>
                <!--<drop-area></drop-area>-->
                <div class="col-md-1 well text-center text-muted" style="border: 'dashed';" data-drop="true" jqyoui-droppable="{multiple:true, onDrop:'onDrop()'}" ng-show="dragging">
                    Drop Here
                    <!--<ul ng-repeat="i in list4">-->
                    <!--<li>{{i}}</li>-->
                    <!--</ul>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div ng-repeat="i in items">
                        <div style="height: 20px;border: solid;" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="items" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep', onStart: 'dragStart(i)', onStop: 'dragEnd()'}">
                            {{i}}
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row">
                list4:
                <ul ng-repeat="i in list4">
                    <li>{{i}}</li>
                </ul>
                length: {{list4.length}}
            </div>-->
            <div class="row">
                <ul ng-repeat="i in droppedList">
                    <li>{{i.value}}</li>
                </ul>
                length: {{droppedList.length}}
            </div>
        </div>
    </div>
   </div>

<script src="../js/jquery-2.1.1.min.js"></script>
<script src="../js/jquery-ui-1.10.4.custom.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/angular-dragdrop.js"></script>

<script>
    var app = angular.module('myApp', ['ngDragDrop']);
    app.value('$', $);
</script>

<script src="../js/dropAreaDirective.js"></script>
<script src="../js/dragDirective.js"></script>
<script src="../js/mainController.js"></script>
</body>
</html>